requests
flask
uvicorn
fastapi
jinja2
openai
azure-identity
azure-search-documents
azure-ai-agents
azure-ai-textanalytics
azure-ai-language-conversations
azure-ai-language-questionanswering
semantic-kernel
semantic-kernel[azure]